/* Recipes Page */

.home {
    font-size: 20px;
    background-color: blue;
    color: white;
    font-weight: bold;
}

h2 {
    color: crimson;
}

ul.recipe {
    font-size: 25px;
    font-weight: bolder;
}

/* Index Page*/

h1 {
    text-align: center;
}


ul {
    font-weight:bold;
    font-size: 15px;
}

